html[data-theme="light"] {
  --primary-color-100: #422c96;
  --primary-color-200: rgba(75, 50, 170, 0.09);

  --secondary-color-100: rgba(0, 0, 0, 0);
  --secondary-color-200: rgba(0, 0, 0, 0.1);
  --secondary-color-300: rgba(0, 0, 0, 0.33);
  --secondary-color-400: rgba(0, 0, 0, 0.125);

  --tertiary-color-50: #f8f8f8;
  --tertiary-color-100: #e5e5e5;
  --tertiary-color-200: #4f5a66;
  --tertiary-color-300: #384248;

  --color-base-white: #ffffff;
  --background-color: var(--color-base-white);
  --sidebar-item-selected-color: var(--primary-color-100);

  --primary-color-method-get: #0e9b71;
  --secondary-color-method-get: #0d8d67;

  --primary-color-method-post: #0171c2;
  --secondary-color-method-post: #0168b3;

  --primary-color-method-delete: #c71b29;
  --secondary-color-method-delete: #b91926;

  --primary-color-method-put: #674ead;
  --secondary-color-method-put: #604aa2;

  --primary-color-method-patch: #df7d03;
  --secondary-color-method-patch: #d07503;

  --primary-font: Twemoji Country Flags, system-ui, -apple-system,
    BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
    Droid Sans, Helvetica Neue, sans-serif;

  --sidebar-width-desktop: 17.5rem;
  --sidebar-width-mobile: 20.81rem;

  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;

  --font-size-xxs: 0.5rem;
  --font-size-s: 0.875rem;
}

html[data-theme="dark"] {
  --primary-color-100: #422c96;
  --primary-color-200: rgba(75, 50, 170, 0.09);

  --secondary-color-100: rgba(0, 0, 0, 0);
  --secondary-color-200: rgba(255, 255, 255, 0.1);
  --secondary-color-300: rgba(0, 0, 0, 0.33);
  --secondary-color-400: rgba(0, 0, 0, 0.125);

  --tertiary-color-50: #303b42;
  --tertiary-color-100: #e5e5e5;
  --tertiary-color-200: var(--color-base-white);
  --tertiary-color-300: var(--color-base-white);

  --color-base-white: #ffffff;
  --background-color: #242e34;
  --sidebar-item-selected-color: var(--color-base-white);

  --primary-color-method-get: #0e9b71;
  --secondary-color-method-get: #0d8d67;

  --primary-color-method-post: #0171c2;
  --secondary-color-method-post: #0168b3;

  --primary-color-method-delete: #c71b29;
  --secondary-color-method-delete: #b91926;

  --primary-color-method-put: #674ead;
  --secondary-color-method-put: #604aa2;

  --primary-color-method-patch: #df7d03;
  --secondary-color-method-patch: #d07503;

  --primary-font: Twemoji Country Flags, system-ui, -apple-system,
    BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
    Droid Sans, Helvetica Neue, sans-serif;

  --sidebar-width: 17.5rem;

  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;

  --font-size-xxs: 0.5rem;
  --font-size-s: 0.875rem;
}
